<app-layout-base-pages [title]="title()" [subtitle]="subtitle()">
  <p-card>
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid">
          <!-- Nome -->
          <div class="col-12 md:col-7">
            <app-form-label
              for="nome-assunto"
              label="Nome do Assunto"
              [control]="form.controls['nome']"
              [errorMessages]="errorNomeMessages"
            >
              <input
                pInputText
                type="text"
                id="nome-assunto"
                [maxlength]="100"
                formControlName="nome"
                [invalid]="isInvalid('nome')"
                placeholder="Informe o nome do assunto"
              />
            </app-form-label>
          </div>
          <!-- Matéria -->
          <div class="col-12 md:col-5">
            <app-form-label
              for="materia-assunto"
              label="Matéria Associada"
              [control]="form.controls['materia']"
              [errorMessages]="errorMateriaMessages"
            >
              <p-autocomplete
                #ac
                fluid
                dataKey="id"
                [delay]="900"
                optionLabel="nome"
                [forceSelection]="true"
                inputId="materia-assunto"
                formControlName="materia"
                (onFocus)="abrirAutocomplete(ac)"
                (onSelect)="fecharAutocomplete(ac)"
                [suggestions]="materiasFiltradas()"
                [invalid]="isInvalid('materia')"
                (completeMethod)="searchMateria($event)"
                placeholder="Selecione a matéria associada"
              />
            </app-form-label>
          </div>
          <!-- Descrição -->
          <div class="col-12">
            <app-form-label
              label="Descrição"
              for="descricao-assunto"
              [control]="form.controls['descricao']"
              [errorMessages]="errorDescricaoMessages"
            >
              <textarea
                rows="5"
                cols="30"
                pTextarea
                [maxlength]="500"
                id="descricao-assunto"
                aria-label="Descrição"
                formControlName="descricao"
                [invalid]="isInvalid('descricao')"
                placeholder="Informe a descrição do assunto"
              ></textarea>
            </app-form-label>
          </div>
        </div>
        <!-- Botões -->
        <div class="pt-2 flex flex-wrap flex-column-reverse md:flex-row justify-content-end gap-2">
          <div class="col-12 p-0 md:col-2 xl:col-1">
            <p-button
              label="Voltar"
              class="w-full"
              variant="outlined"
              styleClass="w-full"
              severity="contrast"
              (onClick)="onVoltar()"
              [disabled]="submitting()"
            />
          </div>
          @if (!isViewMode() && !submitting()) {
            <div class="col-12 p-0 md:col-2 xl:col-1">
              <p-button
                type="submit"
                styleClass="w-full button-aplicacao-style"
                class="w-full button-aplicacao-style"
                [disabled]="form.invalid || submitting()"
                [label]="isCreateMode() ? 'Adicionar' : 'Atualizar'"
              />
            </div>
          }
          @if (submitting()) {
            <app-loading></app-loading>
          }
        </div>
      </form>
    }
  </p-card>
</app-layout-base-pages>
