// form-label.scss
.form-group-container {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 400;

    i {
      margin-right: 4px;
    }
  }

  .error-color {
    color: #dc3545; // Vermelho de erro
  }
}

/* Quando o elemento entra em cena */
.slide-in-error {
  animation: slideInEffect 100ms ease-out;
}

/* Quando o elemento sai de cena */
.slide-out-error {
  animation: slideOutEffect 100ms ease-in;
}

@keyframes slideInEffect {
  from { transform: translateY(-40%); }
  to { transform: translateY(0); }
}

@keyframes slideOutEffect {
  from { transform: translateY(0); }
  to { transform: translateY(-40%); }
}
