<div class="form-group-container {{ customClass() }}">
  <div class="flex flex-row gap-1 align-items-center mb-1">
    <label [for]="for()" [ngClass]="errorMessage() ? 'error-color' : ''">
      @if (icon()) {
        <i [class]="icon()"></i>
      }
      {{ label() }}
    </label>
    @if (tooltipMessage()) {
      <i class="pi pi-info-circle" [pTooltip]="tooltipMessage()" tooltipPosition="top"></i>
    }
  </div>

  <ng-content></ng-content>

  @if (errorMessage()) {
    <span
      class="error-color text-sm font-medium mt-1"
      role="alert"
      animate.enter="slide-in-error"
      animate.leave="slide-out-error"
    >
      {{ errorMessage() }}
    </span>
  }
</div>
