@use 'base/reset.scss';
@use 'typography.scss';
@use 'utils/variables.scss';
@use 'utils/mixins.scss';
@use 'utils/menu.scss';
@use 'utils/topbar.scss';
@use 'utils/content.scss';
@use 'primeNG/button.scss';

body {
  transition: background 0.25s;
}

html:not(.app-dark) body {
  background: #fafafa;
}

html.app-dark body {
  background: #101010;
}

.editor-content {
  @import 'utils/quill-content';
}

.question-content {
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.5rem !important;
  @extend .editor-content;
}
