@use 'base/reset.scss';
@use 'typography.scss';
@use 'utils/variables.scss';
@use 'utils/mixins.scss';
@use 'utils/menu.scss';
@use 'utils/topbar.scss';
@use 'utils/content.scss';
@use 'primeNG/button.scss';

body {
  transition: background 0.25s;
}

html:not(.app-dark) body {
  background: #fafafa;
}

html.app-dark body {
  background: #101010;
}

.editor-content {
  @import 'utils/quill-content';
}

.question-content {
  white-space: normal !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important; /* Força a quebra mesmo se for uma palavra gigante sem espaços */
  min-width: 0; /* Essencial para funcionar dentro de layouts Flexbox */

  @extend .editor-content;
}
