@use '../../../../assets/scss/utils/variables' as *;

.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  border-radius: 50%;
  animation: dot-pulse2 1.5s ease-in-out infinite;
}

.dot-1 {
  background-color: $gradientStartColor;
  animation-delay: 0s;
}

.dot-2 {
  background-color: $gradientMidColor;
  animation-delay: 0.3s;
}

.dot-3 {
  background-color: $gradientLastColor;
  animation-delay: 0.6s;
}

.dot-4 {
  background-color: $gradientMidColor;
  animation-delay: 0.9s;
}

.dot-5 {
  background-color: $gradientStartColor;
  animation-delay: 1.2s;
}

:host-context(.app-dark) {
  .dot-1 {
    background-color: $gradientStartColorDark;
  }

  .dot-2 {
    background-color: $gradientMidColorDark;
  }

  .dot-3 {
    background-color: $gradientLastColorDark;
  }

  .dot-4 {
    background-color: $gradientMidColorDark;
  }

  .dot-5 {
    background-color: $gradientStartColorDark;
  }
}

@keyframes dot-pulse2 {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
