.descartar-alternativa-button {
  opacity: 0;
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }
}


.alternativa-texto p {
  margin: 0;
  padding: 0;
}

.word-wrap-text {
  overflow-wrap: break-word;
  word-break: break-all; /* Garante a quebra mesmo em strings contínuas gigantes */
  hyphens: auto;
}
