@if (form() && controlName()) {
  <ng-container [formGroup]="form()!">
    <app-form-label
      [for]="idField()"
      label="Matéria Associada"
      [control]="controlForm()"
      [errorMessages]="errorMessages()"
    >
      <p-autocomplete
        #ac
        fluid
        dataKey="id"
        [delay]="900"
        [dropdown]="true"
        optionLabel="nome"
        [inputId]="idField()"
        [invalid]="isInvalid()"
        [forceSelection]="true"
        [placeholder]="placeholder()"
        (onFocus)="abrirAutocomplete(ac)"
        [formControlName]="controlName()"
        (onSelect)="fecharAutocomplete(ac)"
        [suggestions]="materiasFiltradas()"
        (onDropdownClick)="abrirAutocomplete(ac)"
        (completeMethod)="searchMateria($event)"
        emptyMessage="Nenhuma matéria encontrada"
      >
        @if (exibirBotaoCadastro()) {
          <ng-template pTemplate="footer">
            <div class="p-2">
              <p-button
                label="Nova Matéria"
                icon="pi pi-plus"
                size="small"
                variant="text"
                styleClass="w-full"
                (onClick)="abrirModalCriacaoMateria(ac)"
              />
            </div>
          </ng-template>
        }
      </p-autocomplete>
    </app-form-label>
  </ng-container>
} @else {
  <p-autocomplete
    #ac
    fluid
    dataKey="id"
    [delay]="900"
    [dropdown]="true"
    optionLabel="nome"
    [inputId]="idField()"
    [forceSelection]="true"
    [placeholder]="placeholder()"
    [(ngModel)]="materiaSelecionada"
    (onFocus)="abrirAutocomplete(ac)"
    (onSelect)="fecharAutocomplete(ac)"
    [suggestions]="materiasFiltradas()"
    (completeMethod)="searchMateria($event)"
    (onDropdownClick)="abrirAutocomplete(ac)"
    emptyMessage="Nenhuma matéria encontrada"
  >
    @if (exibirBotaoCadastro()) {
      <ng-template pTemplate="footer">
        <div class="p-2">
          <p-button
            label="Nova Matéria"
            icon="pi pi-plus"
            size="small"
            variant="text"
            styleClass="w-full"
            (onClick)="abrirModalCriacaoMateria(ac)"
          />
        </div>
      </ng-template>
    }
  </p-autocomplete>
}
