<div class="flex flex-column align-items-center gap-3">
  <h1 class="m-0 text-8xl">404</h1>
  <h2 class="m-0 text-4xl">Ops! Página não encontrada</h2>
  <p class="m-0 text-2xl text-color-secondary">O link que você tentou acessar não existe ou foi movido para outro endereço.</p>

  <a routerLink="" class="btn-home">Voltar para o Início</a>
</div>

<!-- <div class="error-container">
  <div class="error-content">
    <h1 class="error-code">404</h1>
    <h2>Ops! Página não encontrada</h2>
    <p>O link que você tentou acessar não existe ou foi movido para outro endereço.</p>

    <a routerLink="/" class="btn-home">Voltar para o Início</a>
  </div>
</div> -->
