<app-layout-base-pages
  [title]="title()"
  [buttonSeverity]="'secondary'"
  [buttonActionLabel]="'Encerrar'"
  (actionButtonClick)="onEncerrar()"
>
  <app-resolver-questao-card
    [questao]="questaoAtual()"
    [finalizado]="finalizado()"
    [ultimaQuestao]="ultimaQuestao()"
    [primeiraQuestao]="primeiraQuestao()"
    (proximaQuestao)="proximaQuestao()"
    (questaoAnterior)="questaoAnterior()"
    (finalizarRespostas)="onFinalizarRespostas()"
    (respondeu)="onRespondeu($event)"
    (questaoAtualizada)="onQuestaoEditada($event)"
  />
</app-layout-base-pages>
