@if (!resolverMode() && !resultadosMode()) {
  <app-layout-base-pages
    [title]="'Resolver Questões'"
    [subtitle]="'Filtre questões para resolução'"
  >
    <p-card header="Filtros">
      <app-questao-filter
        [form]="form"
        [showResolverAction]="true"
        (resolverActionClick)="onResolverAction()"
      />
      <span class="text-xs">{{ textQuantidadeQuestoes() }}</span>
    </p-card>
  </app-layout-base-pages>
} @else if (resolverMode() && !resultadosMode() && questoesResolucao().length) {
  <app-resolver-questoes-component
    (encerrar)="onEncerrar()"
    (finalizar)="onFinalizar($event)"
    (respondeu)="onRespondeu($event)"
    (questaoAtualizada)="onQuestaoAtualizada($event)"
    [questoes]="questoesResolucao()"
  />
} @else if (resultadosMode() && resultadoResolucao()) {
  <app-resultados-resolucao
    [resultados]="resultadoResolucao()!"
    (encerrar)="onEncerrarVisualizacaoResultados()"
  />
}
