@if (form() && controlName()) {
  <ng-container [formGroup]="form()!">
    <app-form-label
      [for]="idField()"
      [control]="controlForm()"
      label="Assuntos Associados"
      [errorMessages]="errorMessages()"
      [tooltipMessage]="tooltipMessage()"
    >
      <p-multiselect
        #ac
        fluid
        dataKey="id"
        optionLabel="nome"
        [inputId]="idField()"
        [invalid]="isInvalid()"
        [placeholder]="placeholder()"
        [options]="assuntosFiltrados()"
        (onFocus)="abrirMultiselect(ac)"
        [formControlName]="controlName()"
        (onSelect)="fecharMultiselect(ac)"
        (completeMethod)="searchAssunto($event)"
        emptyMessage="Nenhum assunto encontrado"
        (onDropdownClick)="abrirMultiselect(ac)"
      >
        @if (exibirBotaoCadastro()) {
          <ng-template pTemplate="footer">
            <div class="p-2">
              <p-button
                label="Novo Assunto"
                icon="pi pi-plus"
                size="small"
                variant="text"
                styleClass="w-full"
                (onClick)="abrirModalCriacaoAssunto(ac)"
              />
            </div>
          </ng-template>
        }
      </p-multiselect>
    </app-form-label>
  </ng-container>
} @else {
  <p-multiselect
    #ac
    fluid
    dataKey="id"
    optionLabel="nome"
    [inputId]="idField()"
    [placeholder]="placeholder()"
    [options]="assuntosFiltrados()"
    [(ngModel)]="assuntoSelecionado"
    (onFocus)="abrirMultiselect(ac)"
    (onSelect)="fecharMultiselect(ac)"
    (completeMethod)="searchAssunto($event)"
    emptyMessage="Nenhum assunto encontrado"
  >
    @if (exibirBotaoCadastro()) {
      <ng-template pTemplate="footer">
        <div class="p-2">
          <p-button
            label="Novo Assunto"
            icon="pi pi-plus"
            size="small"
            variant="text"
            styleClass="w-full"
            (onClick)="abrirModalCriacaoAssunto(ac)"
          />
        </div>
      </ng-template>
    }
  </p-multiselect>
}
