@if (form() && controlName()) {
  <ng-container [formGroup]="form()!">
    <app-form-label
      [for]="idField()"
      [control]="controlForm()"
      label="Assunto Associada"
      [errorMessages]="errorMessages()"
      [tooltipMessage]="tooltipMessage()"
    >
      <p-autocomplete
        #ac
        fluid
        dataKey="id"
        [delay]="900"
        [dropdown]="true"
        optionLabel="nome"
        [inputId]="idField()"
        [invalid]="isInvalid()"
        [forceSelection]="true"
        [placeholder]="placeholder()"
        (onFocus)="abrirAutocomplete(ac)"
        [formControlName]="controlName()"
        (onSelect)="fecharAutocomplete(ac)"
        [suggestions]="assuntosFiltrados()"
        (completeMethod)="searchAssunto($event)"
        emptyMessage="Nenhum assunto encontrado"
        (onDropdownClick)="abrirAutocomplete(ac)"
      />
    </app-form-label>
  </ng-container>
} @else {
  <p-autocomplete
    #ac
    fluid
    dataKey="id"
    [delay]="900"
    optionLabel="nome"
    [inputId]="idField()"
    [forceSelection]="true"
    [placeholder]="placeholder()"
    [(ngModel)]="assuntoSelecionado"
    (onFocus)="abrirAutocomplete(ac)"
    (onSelect)="fecharAutocomplete(ac)"
    [suggestions]="assuntosFiltrados()"
    (completeMethod)="searchAssunto($event)"
    emptyMessage="Nenhum assunto encontrado"
  />
}
