<app-layout-base-pages
  [title]="'Assuntos'"
  (actionButtonClick)="onAddAssunto()"
  [subtitle]="'Gerencie seus assuntos'"
  [buttonActionLabel]="'Adicionar Assunto'"
>
  <div>
    <div class="grid">
      <!-- Buscar por nome -->
      <div class="col-12 md:col-7">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input
            pInputText
            type="text"
            class="w-full"
            id="nome-assunto-list"
            [(ngModel)]="searchTerm"
            placeholder="Informe o nome do assunto"
          />
        </p-iconfield>
      </div>

      <!-- Buscar por matéria -->
      <div class="col-12 md:col-5">
        <p-autocomplete
          #ac
          fluid
          dataKey="id"
          [delay]="900"
          optionLabel="nome"
          [forceSelection]="true"
          inputId="materia-assunto"
          [(ngModel)]="searchMateriaId"
          (onFocus)="abrirAutocomplete(ac)"
          (onSelect)="fecharAutocomplete(ac)"
          [suggestions]="materiasFiltradas()"
          (completeMethod)="searchMateria($event)"
          placeholder="Selecione a matéria associada"
        />
      </div>
    </div>
    <div class="flex flex-row justify-content-end w-full mt-3">
      <p-button
        class="w-auto"
        label="Limpar"
        styleClass="w-auto"
        severity="secondary"
        (onClick)="onLimpar()"
      />
    </div>
  </div>

  <!-- Listagem -->
  @if (assuntosFiltrados().length > 0) {
    @for (assunto of assuntosFiltrados(); track $index) {
      <app-assunto-card-presentation
        [assunto]="assunto"
        [materia]="getMateriaPorAssunto(assunto)"
        [questoesRelacionadas]="getQuestoesRelacionadas(assunto)"
        (exclusaoConcluida)="ngOnInit()"
      />
    }
  } @else {
    <p class="text-center mt-3 text-secondary" colspan="100%">Nenhum registro encontrado...</p>
  }
</app-layout-base-pages>
